* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --blue: #3EA1DB;
    --dark-blue: #574AE8;
    --white: #FFFFFF;

    --title: #313131;
    --text: #B6B6B6;

    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

p {
    color: var(--blue);
}