@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

@font-face {
    font-family: "Icons";
    src: url("/fonts/iconic.woff") format("woff");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --blue: #3EA1DB;
    --dark-blue: #574AE8;
    --white: #FFFFFF;

    --title: #313131;
    --text: #B6B6B6;

    --linear: linear-gradient(90deg, #574AE8 0%, #3EA1DB 100%);
}

.date::after {
    font-family: "Icons";
    content: "\E803";
}

.header {
    background-image: var(--linear);
    width: 100%;
    height: 200px;
    padding: 20px;
}

.container {
    max-width: calc(100% - 20px);
    margin: 0 auto;
}

.titles {
    font-family: "Outfit";
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titles h1, .titles span {
    font-size: 18px;
    font-weight: 400;
    color: var(--white);
}

.titles h1, .titles span {
    margin-top: 48px;
}

.search::before {
    font-family: "Icons";
    content: "\E804";
    color: var(--white);
    padding: 11px;
}

.search {
    width: 100%;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    display: flex;
    margin: 41px 0;
}

.search input {
    width: 100%;
    border: transparent;
    background-color: transparent;
    font-family: 'Outfit', sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 14px;
}

input::placeholder {
    color: var(--white);
    padding-left: 5px;
    opacity: 0.5;
}